body { background: #9b7d0e; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-email-0 { color: #ab1652; font-size: 16px; margin-bottom: 5px; }
.block-sms-1 { color: #d12fef; font-size: 15px; margin-bottom: 5px; }
.block-uploader-2 { color: #82619b; font-size: 17px; margin-bottom: 5px; }
.block-cart-3 { color: #57447f; font-size: 15px; margin-bottom: 5px; }
.block-filter-4 { color: #92bda1; font-size: 17px; margin-bottom: 5px; }
.block-session-5 { color: #173835; font-size: 20px; margin-bottom: 5px; }